.back {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 80px;
  &__arrow {
    color: white;
    margin: 1rem;
  }
  &__img {
    width: 75px;
    height: 75px;
  }
  &__button {
    background-color: black;
    border: none;
    color: white;
  }
}
