.error {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  color: rgb(200, 225, 255);
  font-size: 3rem;

  &__img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    z-index: 3;
  }

  &__title {
    z-index: 3;
  }

  &__body {
    z-index: 3;
  }
}
